<nav class="sticky-top">
  <div class="navbar">
    <div class="container">
      <a href="#" class="navbar-brand fs-3 text-light">/zero</a>
      <form
        class="d-flex w-50 position-relative d-none d-md-block"
        role="search"
      >
        <!-- search input -->
        <input
          class="form-control me-2 border-primary rounded-pill"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <!-- search icon -->
        <button
          class="btn text-primary position-absolute last"
          type="submit"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div>
        <button
          class="btn btn-primary text-light border border-1"
          data-bs-toggle="modal"
          data-bs-target="#sign_in"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>